<section class="section about me">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p style="font-size: 22px;"> Welcome to my website! I hope you get a small insight into my background by reading this section. 
      You can scroll down to find more about my current eduaction and occupation as my skills, experiences, publications, and projects. 
      Thanks for visiting! 
    </p>
</section>

<section class="section education">
  <div class="section__title">Education</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 
    I graduated <a href="https://www.veluwscollege.nl/walterbosch" target="_blank">Veluws College Walterbosch</a> in 2016, 
    however none of the studies available at the universities of applied sciences spoke to me. 
    Therefore I decided to extend my study for two more years, so that I could study AI (Artificial Intelligence) 
    at <a href="https://www.uu.nl/bachelors/kunstmatige-intelligentie" target="_blank">Utrecht University</a>.
    In 2021, after three years, I finished my bachelor's degree. Currently I am continuing my studies in the form of a master's degree, 
    also at <a href="https://www.uu.nl/masters/en/artificial-intelligence" target="_blank">Utrecht University</a>.
    </p>
</section>

<section class="section why i code">
  <div class="section__title">Why I Code</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 
      In high school I was already taking programming classes, even though the assignments were really basic, I still enjoyed it.
      The assignments we got at the university were a lot harder, but I liked that they were more challenging. 
      During the summer of 2020 I realized that I also enjoyed programming during my free time.
      There are a lot of ideas that I would like to realize, programming gives me the opportunity to do so.
    </p>
</section>

<section class="section what i code">
  <div class="section__title">What I Code</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 
      As you might have noticed on my GitHub page, a lot of my codings focus on financials. 
      Most are cryptocurrency related, since data for that is often free.
      In my opinion Python is one of the most user friendly languages, because there are so many libraries available.
      That is why most of my code is written in Python.
      Occasionally I develop stuff in other languages, such as C# and Haskell.
    </p>
</section>

<section class="section interests">
  <div class="section__title">Interests</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 
      Other than coding, I love playing electric guitar and bass, hanging out with my friends, reading books, snowboarding, and watching TV.
      My favorite shows include WestWorld, Your Lie In April and The Boys.
    </p>
</section>

<section class="section interests">
  <div class="section__title">Interests</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 
      Other than coding, I love playing electric guitar and bass, hanging out with my friends, reading books, snowboarding, and watching TV.
      My favorite shows include WestWorld, Your Lie In April and The Boys.
    </p>
</section>
</div>