<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project TensorTrade">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/featured/tensortrade/tensortrade.png" target="_blank">
          <img src="{{site.baseurl}}/img/featured/tensortrade/tensortrade.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/StephanAkkerman/TensorTrade" target="_blank">TensorTrade</a>
        </div>
        <p>
          This project was part of my bachelor thesis of 2021. 
          It consists of multiple parts, however the most important part is the reinforcement learning agent.
          The other parts of this project consist of a heatmap for technical analysis indicators and a script to fetch data of the Binance exchange.
        </p>
      </figcaption>
    </div>

    <!-- Maybe use a gif instead -->
    <div class="project Binance Charts">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/featured/chart/charts.png" target="_blank">
          <img src="{{site.baseurl}}/img/featured/chart/charts.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/StephanAkkerman/Binance_Line_Chart" target="_blank">Binance Charts</a>
        </div>
        <p>
          This is an overview of charts available on Binance, using PyQt5 to plot. 
          I have started this project because TradingView does not offer such an overview for free.
        </p>
      </figcaption>
    </div>

    <div class="project Binance Line Chart">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/featured/line/1month.png" target="_blank">
          <img src="{{site.baseurl}}/img/featured/line/1month.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/StephanAkkerman/Binance_Line_Chart" target="_blank">Binance Line Chart</a>
        </div>
        <p>
          This is a simple chart that shows the change in the top volume tickers on Binance.
          The rainbow coloring makes it easy to spot which assets have had the best or worst increase of a timeframe.
        </p>
      </figcaption>
    </div>
    
    <div class="project Coin Classifier">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/featured/coins/coins.png" target="_blank">
          <img src="{{site.baseurl}}/img/featured/coins/coins.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/StephanAkkerman/Coin_Classifier" target="_blank">Coin Classifier</a>
        </div>
        <p>
          This is a more advanced project written in C#. 
          It detects circles in images and then based on the color and shape of the circle is able to classify the depicted coins.
        </p>
      </figcaption>
    </div>

</section>
